# Node / Next.js
node_modules
.next
.vercel
dist

# Env files
.env
.env.local
.env.example

# OS junk
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.parquet

# VSCode
.vscode/
*.code-workspace

# Modal / venv
ml/.venv
